/* @import '~antd/dist/antd.css'; */

.ui.progress .bar {
    /* display: block;
    line-height: 1;
    position: relative;
    width: 0%;
    min-width: 2em;
    background: #888888;
    border-radius: 0.28571429rem; */
    -webkit-transition: width 0s ease, background-color 0.1s ease !important;
    transition: width 0s ease, background-color 0.1s ease !important;
}
